@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

.root {
    --base-color: white;
    --secondary-color: #f5f6f7;
    --login-form-text: black;
    --login-info-text: white;
    --login-info-light-blue: #2695f0;
    --login-info-dark-blue: #2378cc;

}

*{
    margin: 0;
    padding: 0;
}

html {
    font-family: Zalando Sans;
}

.inner-box {
   
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    display: grid;
    grid-template-columns: max(40%, 280px) minmax(60%, 300px);
    
    
}

.outter-box {
    background-color: var(--secondary-color);
    padding: 2vh;
    
    
    
}

.left-col {
    
    background: linear-gradient(to bottom right, #2695f0, #2378cc);
    height: 100vh;
    overflow: hidden;
    padding: 1.5vw;
    display: flex;
    align-items: center;

    

    
}

.right-col {

    
    
    
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    

}
#login-info{ 
    p{
        color: white;
        font-size: 1.2rem;
    

    }
    
   color: white;
}

#login-form{ 
    
    
   

}



h1{
    color: white;
    font-size: 3.3rem;
     
}
form-field {
    display: block;
}





    