@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --base-color: white;
    --secondary-color: #f5f6f7;
    --login-form-text: black;
    --login-info-text: white;
    --login-info-light-blue: #2695f0;
    --login-info-dark-blue: #2378cc;

}

*{
    margin: 0;
    padding: 0;
}

html {
    font-family: Zalando Sans;
}

.inner-box {
    
    
    border-radius: 15px;
    box-sizing: border-box;
    
    overflow: hidden;
    box-shadow: 0 10px 20px rgb(230, 225, 225);
    
    display: grid;
    grid-template-columns:  clamp(250px, 28vw, 410px) 1fr;
    grid-template-rows: 95vh;
    
    
    
}

.outter-box {
    background-color: var(--secondary-color);
    padding: 20px;
    
}

.left-col {
    
    background: linear-gradient(to bottom right, #5caaea, #1366b8);
    padding: 15px;
    display: flex;
    align-items: center;
    
}

.right-col {

    padding: 15px;
    background-color: var(--base-color);
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    
    
    

}
#login-info { 
    p {
        color: var(--login-info-text);
        font-size: 1.02rem;
        line-height: 1.5;
    }
    
    h1{
    color: var(--login-info-text);
    font-size: 2.5rem;
    margin-bottom: 20px;
    padding-right: 20px;
    
     
}
  
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#login-form input {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1em;
    font-size: 1em;
    display: flex;
    flex-grow: 1;
    width: min(750px);
    height: 55px;
    transition: 150ms ease;
    border: 2px solid rgb(200, 200, 200);
}

#login-form input:hover {
    border-color: rgb(98, 98, 98);

}

#login-form input:focus {
    border-color: var(--login-form-text);
}



#login-form label {
    margin-bottom: 10px;
    display: flex;
    color: var(--login-form-text);
    font-size: 1.04em;
    font-weight: 500;
    
    
}

#login-form password-recovery{
    margin-top: 20px;
    float: right;
    white-space: nowrap;
   
} 

#login-form button {
    margin-top: 5px;
    border: none;
    border-radius: 3px;
    padding: 1.2em 2.2em;
  
  
}






    